<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      function submitContents(option) {
          var title = $('#addContentSubject').val();
          var content = $('#addContents').val();
          if(option == 'add') {
              // 새 글 등록 시
              if(title == '' || content == '') {
                  alert("제목과 내용 모두 있어야합니다.");
                  return;
              } else {
                  $('#writeAction').submit();
              }
          }
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="writeAction" action="/boards" method="post">
            <input type="text" class="inputSubject" id="title" name="title" placeholder="제목">
            <textarea class="textContents" id="content" name="content" rows="20" cols="80"></textarea>
    </form>
    <div id = "new" class="addBtngroup">
        <a onclick="submitContents('add');"><div>SUBMIT</div></a>
        <a onclick="cancelWriteForm('cancel');"><div>CANCEL</div></a>
    </div>
  </body>
</html>
